/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    font-family: Poppins
}

.slick-list {
    overflow: visible !important
}

.slick-dots li.slick-active button:before {
    color: #F7628C !important;
}