/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  font-family: Poppins;
}

.slick-dots li.slick-active button:before {
  color: #f7628c !important;
}

/* .slick-list, .slick-track, .slick-slide > div {
  height: 100%
} */
.h-max {
  height: fit-content;
}
.w-95 {
  width: 95%;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}