/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  font-family: Poppins;
}

.slick-dots li.slick-active button:before {
  color: #f7628c !important;
}

/* .slick-list, .slick-track, .slick-slide > div {
  height: 100%
} */
.h-max {
  height: fit-content;
}
.w-95 {
  width: 95%;
}
